* {
  margin: 0;
  padding: 0;
}

/*_____fonds_____*/
h1, h2, h3 {
  font-family: "Oswald", sans-serif;
  color: #061a1f;
}

h1 {
  font-weight: 600;
}

label, p, a {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: #000000;
}

li, a {
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #1A1A1A;
}

/*________nav gegevens________*/
.navigatie {
  margin-bottom: 25px;
  background-color: transparent;
}
.navigatie ul {
  color: white;
  list-style: none;
}
.navigatie a {
  text-decoration: none;
  color: #aec0b4;
}
.navigatie a:hover {
  color: #5f8688;
}
.navigatie a i {
  color: #aec0b4;
}

/*_____login_____*/
.login__links {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.login__links .login__gegevens__adres__tekst, .login__links .login__gegevens__wachtwoord__tekst {
  font-size: 16px;
}
.login__links .login__gegevens .login__radio__forgot label, .login__links .login__gegevens .login__radio__forgot a {
  font-size: 16px;
}
.login__links .login__signin__more i {
  font-size: 30px;
}
.login__links button {
  background-color: #0a333e;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.login__links button:hover {
  background-color: #061a1f;
}
.login .signin__rechts {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.login .signin__rechts h1 {
  color: #aec0b4;
}
.login .signin__rechts p {
  color: #aec0b4;
  font-size: 16px;
}
.login .signin__rechts button {
  background-color: #aec0b4;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #000000;
}
.login .signin__rechts button:hover {
  background-color: #5f8688;
}

/*_____product_____*/
.product__header {
  background-color: #5f8688;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.product__header .product__search__bar input {
  border: 1px solid #aec0b4;
  border-radius: 4px 0 0 4px;
}
.product__header .product__search__bar button {
  background-color: #0a333e;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}
.product__header .product__search__bar button:hover {
  background-color: #061a1f;
}

.index__header__links h1 {
  color: #aec0b4;
  margin-bottom: 25px;
}
.index__header__links p {
  color: #ffffff;
}
.index__header__links button {
  background-color: #0a333e;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.index__header__links button:hover {
  background-color: #061a1f;
}

.index__card h1 {
  color: #aec0b4;
}
.index__card__rotate__special {
  background-color: #5f8688;
  border-radius: 10px;
}
.index__card__rotate__special h2 {
  font-size: 30px;
}

.index__contact__rechts h1 {
  color: #aec0b4;
}
.index__contact__rechts p {
  color: #ffffff;
}
.index__contact__rechts button {
  background-color: #aec0b4;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #000000;
}
.index__contact__rechts button:hover {
  background-color: #5f8688;
}

/*________product detail gegevens________*/
.detail__layout {
  background-color: #aec0b4;
  border-radius: 4px;
}
.detail__layout__foto {
  background-color: #5f8688;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.detail__layout__tekst__stars i, .detail__layout__tekst__stars p {
  color: #061a1f;
}
.detail__layout__tekst__info .aanwezigheid {
  color: darkgreen;
  font-size: 16px;
}
.detail__layout__tekst__info h2 {
  font-size: 30px;
}
.detail__layout__tekst__options a {
  text-decoration: none;
  color: #000000;
}
.detail__layout__tekst__options a:first-child {
  font-weight: 600;
}
.detail__layout__tekst__options a:hover,
.detail__layout__tekst__options a:first-child:active {
  font-weight: 600;
}
.detail__layout__tekst__buttons button {
  background-color: #0a333e;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.detail__layout__tekst__buttons button:hover {
  background-color: #061a1f;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5f8688;
}
.footer__addr address button {
  background-color: #aec0b4;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.footer__addr address button:hover {
  background-color: #0a333e;
}
.footer__nav-ul {
  list-style: none;
}
.footer__nav-ul a {
  text-decoration: none;
  color: #0a333e;
}
.footer__legal {
  border-top: 1px solid #0a333e;
  padding: 10px;
  color: #999;
}

/*________nav gegevens________*/
.navigatie ul {
  display: flex;
  align-items: center;
  padding: 0.5em;
  margin: 0;
  height: 3rem;
}
.navigatie li {
  margin: 0 1rem;
}
.navigatie li:nth-child(2), .navigatie li:nth-child(3) {
  text-decoration: none;
}
.navigatie li.logo {
  margin: 20px auto 0 20px;
}
.navigatie img {
  width: 45px;
}

/*________login gegevens________*/
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  background-color: #aec0b4;
}
.login .login__layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
}
.login .login__layout .login__links {
  flex: 2;
  flex-direction: column;
  padding: 35px;
  background-color: #5f8688;
}
.login .login__layout .login__links h1 {
  padding-bottom: 30px;
  text-align: center;
}
.login .login__layout .login__links .login__gegevens__adres__kader {
  box-sizing: border-box;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
}
.login .login__layout .login__links .login__gegevens__wachtwoord__kader {
  box-sizing: border-box;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 2px;
  width: 100%;
  border-radius: 5px;
  border: none;
}
.login .login__layout .login__links .login__gegevens .login__radio__forgot a {
  padding-left: 15px;
}
.login .login__layout .login__links .login__gegevens .login__sumbit {
  margin-top: 7px;
  margin-bottom: 15px;
  text-align: center;
}
.login .login__layout .login__links .login__gegevens .login__sumbit button {
  width: 60%;
  padding: 12px;
  margin: 15px;
  border: none;
  cursor: pointer;
}
.login .login__layout .login__links .login__gegevens .login__signin__more i {
  padding-top: 5px;
  margin-right: 10px;
}
.login .login__layout .signin__rechts {
  flex: 1.5;
  flex-direction: column;
  padding: 35px;
  background-image: url("../assets/images/abstract_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.login .login__layout .signin__rechts h1 {
  padding-bottom: 10px;
  text-align: center;
}
.login .login__layout .signin__rechts .signin__sumbit {
  margin-top: 7px;
  margin-bottom: 15px;
  text-align: center;
}
.login .login__layout .signin__rechts .signin__sumbit button {
  width: 60%;
  padding: 12px;
  margin: 15px;
  border: none;
  cursor: pointer;
}

/*________product header gegevens________*/
.product__header {
  height: 100px;
  padding: 30px 15px 15px 15px;
  text-align: center;
}
.product__header h1 {
  margin-bottom: 10px;
}

.product__search {
  padding: 20px;
  text-align: center;
}
.product__search .product__layout {
  max-width: 1200px;
  margin: 0 auto;
}
.product__search__bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.product__search__bar input {
  padding: 10px;
  width: 70%;
}
.product__search__bar button {
  padding: 10px 12px;
}

/*________product cards gegevens________*/
/*________start pagina gegevens________*/
.index__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
}
.index__header__links {
  flex-direction: column;
  flex-basis: 25%;
  margin-right: 50px;
}
.index__header__links button {
  width: 40%;
  padding: 12px;
  margin-top: 40px;
  border: none;
  cursor: pointer;
}
.index__header__rechts {
  flex-direction: column;
  flex-basis: 30%;
}
.index__header__rechts img {
  width: 100%;
  height: 100%;
}

.index__card h1 {
  text-align: center;
  margin: 0 10px 50px 10px;
}
.index__card h2 {
  margin: 0 0 20px 0;
}
.index__card__rotate {
  display: flex;
  align-items: center;
  justify-content: center;
}
.index__card__rotate__special:nth-child(1) {
  width: 350px;
  height: 350px;
  border: none;
  margin: 25px;
  padding: 25px;
  transform: rotate(2deg);
}
.index__card__rotate__special:nth-child(2) {
  width: 350px;
  height: 350px;
  border: none;
  margin: 25px;
  padding: 25px;
  transform: rotate(5deg);
}
.index__card__rotate__special:nth-child(3) {
  width: 350px;
  height: 350px;
  border: none;
  margin: 25px;
  padding: 25px;
  transform: rotate(-10deg);
}

.index__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px;
  padding: 20px;
}
.index__contact__links img {
  width: 40%;
  height: auto;
}
.index__contact__rechts {
  flex: 1;
}
.index__contact__rechts button {
  width: 40%;
  padding: 12px;
  margin-top: 40px;
  border: none;
  cursor: pointer;
}

/*________product detail gegevens________*/
.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.detail__layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 80%;
  height: 70%;
  margin: 20px;
  padding: 20px;
}
.detail__layout__aanzichten {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 10%;
}
.detail__layout__aanzichten img {
  margin-top: 20px;
  width: 60%;
  height: auto;
}
.detail__layout__foto {
  width: 35%; /* 40% van de breedte van .detail__layout */
  padding: 10px;
  margin: 0 15px 0 0;
}
.detail__layout__foto img {
  width: 90%;
  height: auto;
}
.detail__layout__tekst {
  width: 50%; /* 45% van de breedte van .detail__layout */
  align-self: self-start;
  margin-top: 70px;
  flex: 1;
}
.detail__layout__tekst__stars {
  display: flex;
  flex-direction: row;
}
.detail__layout__tekst__stars p {
  margin-left: 10px;
}
.detail__layout__tekst__info h2 {
  margin-top: 50px;
}
.detail__layout__tekst__info p {
  margin-top: 5px;
}
.detail__layout__tekst__options {
  margin: 20px 0 10px 0;
}
.detail__layout__tekst__options a {
  margin: 0 20px 0 0;
  padding: 0 10px 0 0;
  border-right: 1px solid black;
}
.detail__layout__tekst__buttons button {
  width: 10%;
  padding: 12px;
  margin-top: 40px;
  border: none;
  cursor: pointer;
}

/*________footer gegevens________*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
}
.footer > * {
  flex: 1 100%;
}
.footer__addr {
  margin-right: 10px;
  margin-bottom: 20px;
}
.footer__addr h2 {
  margin-top: 20px;
}
.footer__addr button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  padding: 12px;
  margin: 15px;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-left: 0;
}
.footer__nav {
  display: flex;
  flex-flow: row wrap;
}
.footer__nav > * {
  flex: 1 50%;
  margin-right: 20px;
}
.footer__nav-item h2 {
  margin-bottom: 20px;
}
.footer__nav-item-title {
  margin-bottom: 10px;
}
.footer__nav-item-ul {
  padding-left: 0;
}
.footer__nav-item-ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}
.footer__legal {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}
@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  .nav__item--extra {
    flex-grow: 2;
  }
  .footer__addr {
    flex: 1 0px;
  }
  .footer__nav {
    flex: 2 0px;
  }
}

/*# sourceMappingURL=main.css.map */
