$wit: #ffffff;
$licht_blauw: #aec0b4;
$blauw: #5f8688;
$donker_blauw: #0a333e;
$donkerder_blauw: #061a1f;
$donker_thema: #1A1A1A;

$font_Oswald: 'Oswald', sans-serif;
$font_Rubik: 'Rubik', sans-serif;

$font_titel: 30px;
$font_subtitel: 20px;
$font_tekst: 18px;
$font_klein: 15px;
$font_kleinste: 10px;

$card_counter: 3;

* {
  margin: 0;
  padding: 0;
}

@mixin flexLayout() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin textAlign($align){
  text-align: $align;
}

@mixin kaderInput($margin_bottom) {
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: $margin_bottom;
  width: 100%;
}

/*nog aanpassen te passen met argument(.....)*/
@mixin buttonOpmaakKlein($kleur) {
  width: 40%;
  padding: 12px;
  margin-top: 40px;
  border: none;
  cursor: pointer;
}

@mixin buttonOpmaakGroot($kleur) {

}

@mixin buttonLayoutGroot() {

}

@mixin buttonLayoutKlein() {

}
//
//@mixin buttonStijl($achtergrond: $blauw) {
//  background-color: $achtergrond;
//  color: $wit;
//  border: none;
//  border-radius: 0 4px 4px 0;
//  cursor: pointer;
//  transition: background-color 0.3s;
//}
