@use 'base' as *;


.login {
    &__links {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;

      p, label, .login__radio__forgot a {
        color: $donkerder_blauw;
        font-family: $font_Oswald;
        font-size: $font_tekst;
      }

      label {
        font-size: $font_klein;
      }

      .login__radio__forgot a, .login__radio__forgot label, .login__signin__more p {
        font-size: $font_klein;
      }

      h1 {
        @include titelKleur($donkerder_blauw);
      }

      .login__signin__more i {
        font-size: $font_titel;
        color: $wit;
      }

      button {
         @include buttonOpmaaklicht;
       }
    }

    .signin__rechts {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;

      h1 {
        @include titelKleur($licht_blauw);
      }

      p {
        color: $licht_blauw;
        font-size: $font_klein;
        font-family: $font_Oswald;
      }

      button {
        @include buttonOpmaakDonker;
      }
    }
}






