@use 'base' as *;

/*________nav gegevens________*/
.navigatie {
  ul {
    display: flex;
    align-items: center;
    padding: .5em;
    margin: 0;
    height: 3rem;
  }

  li {
    margin: 0 1rem;
  }

  li:nth-child(2), li:nth-child(3) {
    text-decoration: none;
  }

  li.logo {
    margin: 20px auto 0 20px;
  }

  img {
    width: 45px;
  }
}



/*________login gegevens________*/
.login {
  @include flexLayout;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  background-color: $licht_blauw;

  .login__layout {
    @include flexLayout;
    flex-direction: row;
    align-items: stretch;

    .login__links {
      flex: 2;
      flex-direction: column;
      padding: 35px;
      background-color: $blauw;

      h1 {
        padding-bottom: 30px;
        text-align: center;
      }

      .login__gegevens {
        &__adres__kader {
          @include kaderInput(10px);
        }

        &__wachtwoord__kader {
          @include kaderInput(2px);
        }

        .login__radio__forgot {
          a {
            padding-left: 15px;
          }
        }

        .login__sumbit {
          margin-top: 7px;
          margin-bottom: 15px;
          text-align: center;

          button {
            @include buttonLayoutGroot;
          }
        }

        .login__signin__more {
          i {
            padding-top: 5px;
            margin-right: 10px;
          }
        }
      }
    }

    .signin__rechts {
      flex: 1.5;
      flex-direction: column;
      padding: 35px;
      background-image: url("../assets/images/abstract_background.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      h1 {
        padding-bottom: 10px;
        text-align: center;
      }

      .signin__sumbit {
        margin-top: 7px;
        margin-bottom: 15px;
        text-align: center;

        button {
          @include buttonLayoutGroot;
        }
      }
    }
  }
}

/*________product header gegevens________*/
.product__header {
  height: 100px;
  padding: 30px 15px 15px 15px;
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

/*________search gegevens________*/
.product__search {
  padding: 20px;
  text-align: center;

  .product__layout {
    max-width: 60%;
    margin: 0 auto;
  }

  &__bar {
    @include flexLayout;
    margin-top: 20px;

    input {
      padding: 10px;
      width: 70%;
    }

    button {
      padding: 10px 12px;
    }
  }

  .product__filter {
    margin-top: 20px;
    @include flexLayout;
    justify-content: center;

    .filter-option {
      padding: 8px 16px;
      margin: 0 10px;
      cursor: pointer;
      transition: background-color 0.3s;
      background-color: $blauw;
      border-radius: 4px;


      &:hover {
        background-color: $donker_blauw;
        color: $licht_blauw;
      }
    }
  }
}




/*________product cards gegevens________*/
.card__layout {
  @include flexLayout;
  justify-content: center;
  align-items: center;

  @media (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      width: 48%; /* Twee kaarten naast elkaar */
      margin: 0 0 30px 0; /* Voeg een margin-bottom toe */
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      width: 30%;
      margin: 0 0 20px 0; /* Voeg een margin-bottom toe */
    }
  }

  @media (min-width: 1200px) {
    flex-wrap: wrap; /* Hier de flex-wrap toegevoegd */

    .card {
      width: 23%;
    }
  }
}

.card {
  width: 20%;
  height: auto;
  margin: 25px 0 20px 0;

  &__image {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  &__content {
    padding: 15px;
    text-align: center;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__details {
    text-align: center;

    p {
      margin-bottom: 15px;
    }

    button {
      @include buttonLayoutGroot;
      margin: 0 auto;
    }
  }
}


/*________pagination gegevens________*/
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    li {
      margin: 0 5px;
    }

    a {
      padding: 4px 8px;
    }
  }
}



/*________start pagina gegevens________*/
.index__header {
  @include flexLayout;
  flex-direction: row;
  height: 100vh;


  &__links {
    flex-direction: column;
    flex-basis: 25%;
    margin-right: 50px;

    button {
      width: 40%;
      padding: 12px;
      margin-top: 40px;
      border: none;
      cursor: pointer;
    }
  }

  &__rechts {
    flex-direction: column;
    flex-basis: 30%;


    img {
      margin-top: -100px;
      width: 150%;
      height: 150%;
    }

  }
}

.index__card {
  h1 {
    text-align: center;
    margin: 0 10px 50px 10px;
  }

  h2 {
    margin: 0 0 20px 0;
  }

  &__rotate {
    @include flexLayout;

    @for $teller from 1 through $card_counter {
      &__special:nth-child(#{$teller}) {
        width: 350px;
        height: 350px;
        border: none;
        margin: 25px;
        padding: 25px;

        @if $teller == 1 {
          transform: rotate(2deg);
        } @else if $teller == 2 {
          transform: rotate(5deg);
        } @else if $teller == 3 {
          transform: rotate(-10deg);
        }
      }
    }
  }
}



.index__contact {
  @include flexLayout;
  flex-direction: row;
  margin: 20px;
  padding: 20px;

  &__links {


    img {
      width: 40%;
      height: auto;
    }
  }

  &__rechts {
    flex: 1;

    button {
      width: 40%;
      padding: 12px;
      margin-top: 40px;
      border: none;
      cursor: pointer;
    }
  }
}


/*________product detail gegevens________*/
.detail {
  @include flexLayout;
  width: 100vw;
  height: 100vh;

  &__layout {
    @include flexLayout;
    flex-direction: row;
    width: 80%;
    height: 70%;
    margin: 20px;
    padding: 20px;

    &__aanzichten {
      @include flexLayout;
      flex-direction: column;
      width: 10%;

      img {
        margin-top: 20px;
        width: 60%;
        height: auto;
      }
    }

    &__foto {
      width: 35%; /* 40% van de breedte van .detail__layout */
      padding: 10px;
      margin: 0 15px 0 0 ;

      img {
        width: 90%;
        height: auto;
      }
    }

    &__tekst {
      width: 50%; /* 45% van de breedte van .detail__layout */
      align-self: self-start;
      margin-top: 70px;
      flex: 1;

      &__stars {
        display: flex;
        flex-direction: row;

        p {
          margin-left: 10px;
        }
      }

      &__info {
        h2 {
          margin-top: 50px;
        }

        p {
          margin-top: 5px;
        }
      }

      &__options {
        margin: 20px 0 10px 0;

        a {
          margin: 0 20px 0 0;
          padding: 0 10px 0 0;
          border-right: 1px solid black;
        }
      }

      &__buttons {
        button {
          width: 10%;
          padding: 12px;
          margin-top: 40px;
          border: none;
          cursor: pointer;
        }

      }
    }
  }
}



/*________footer gegevens________*/
.footer {
  @include flexLayout;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;

  > * {
    flex: 1 100%;
  }

  &__addr {
    margin-right: 10px;
    margin-bottom: 20px;

    h2 {
      margin-top: 20px;
    }

    button {
      @include flexLayout;
      @include buttonLayoutGroot;
      width: 30%;
      margin-left: 0;
    }
  }

  &__nav {
    display: flex;
    flex-flow: row wrap;

    > * {
      flex: 1 50%;
      margin-right: 20px;
    }

    &-item {
      h2 {
        margin-bottom: 20px;
      }

      &-title {
        margin-bottom: 10px;
      }

      &-ul {
        padding-left: 0;
      }

      &-ul--extra {
        column-count: 2;
        column-gap: 1.25em;
      }
    }
  }

  &__legal {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}





